{{>layout/header}}

<!-- action에 URL경로 지정 되고, method post방식으로 보낸다. 서버를 위한 거니 둘 다 잘 해라. -->
<form class="container" action="/emp/register" method="post">
    <h2>사원 정보를 입력하세요.</h2>

    <div class="mb-3">
        <label class="form-label">사원이름</label>
        <input type="text" class="form-control" name="name">
    </div>

    <div class="mb-3">
        <label class="form-label">회사 부서</label>
        <textarea class="form-control" rows="1" name="dept"></textarea>
    </div>

    <div class="mb-3">
        <label class="form-label">회사 직급</label>
        <textarea class="form-control" rows="1" name="position"></textarea>
    </div>

    <div class="mb-3">
        <label class="form-label">전화번호</label>
        <textarea class="form-control" rows="1" name="tel"></textarea>
    </div>

    <div class="mb-3">
        <label class="form-label">이메일</label>
        <textarea class="form-control" rows="1" name="email"></textarea>
    </div>

    <button class="submit" class="btn btn-primary">등록</button>
</form>

{{>layout/header}}